*{
	background-color: whitesmoke;
}

#container{
	color: black;
	width: 450px;
	height: 350px;
	text-transform: uppercase;
	text-decoration: underline;
	background-color: yellowgreen;
	box-shadow: 0px 0px 0px darkred;
	border-radius: 100px;
}

.estilo1{
	color: rgba(0, 10, 50, 1.0);
}

.estilo2{
	color: rgba(0, 50, 20, 1.0);
}

.estilo3 p{
	color: rgba(0, 100, 100, 1.0);
}